* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.accountLogin {
  display: flex;
  justify-content: center;
}
.login {
  margin: 5rem;
  padding: 5rem 5rem;
  background: #ffffff;
  box-shadow: 0px 0px 25px 10px #f8f8fb;
  height: 500px;
  width: 400px;
}
.login h3 {
  color: #000000;
}
.login h6 {
  color: #9096b2;
  font-size: 12px;
}
.loginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;

}
.loginForm b {
  color: #9096b2;
}
.loginForm i{
  margin-right: 5rem;
  font-size: 14px;
  color: #9096b2;

}
.loginForm a {
  color: #9096b2;
  text-decoration: none;
  font-size: 14px;
}
.submitLogin {
  background: #fb2e86;
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
.submitLogin:hover{
  background-color: #ededfc;
  color: #fb2e86;
}
.formFieldError {
  border: 1px solid #e11d48;
}
#loginEmail {
  border: 1px solid #c2c5e1;
}
#passwordLogin {
  border: 1px solid #c2c5e1;
  padding: 0.3rem;
}
.formFieldErrorMessage {
  color: #e11d48;
  font-size: 14px;
}
.formField {
  padding: 0.5rem;
}
.input.error{
    border-color: red;
}
.input-feedback{
    color: rgb(235, 54, 54)
}

@media only screen and (max-width: 768px) {
  .login {
    width: 300px;
  padding: 3rem 3rem;

  }
} 

/* .form {
  max-width: 30rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formLabel {
  margin-bottom: 0.25rem;
}

.formField {
  padding: 0.5rem;
}

.formFieldError {
  border: 1px solid #e11d48;
}

.formFieldErrorMessage {
  color: #e11d48;
}

.formActions {
  display: flex;
  justify-content: flex-end;
}

.formSubmitBtn {
  padding: 0.5rem 0.7rem;
  min-width: 5rem;
  background-color: #9333ea;
  color: #f3e8ff;
  text-transform: uppercase;
  font-weight: 500;
} */