*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cartDiv{
    padding: 5rem;
}
.btncartUpdate{
    /* width: 600px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25rem;
    margin: 2rem;
}
#btncart{
    background-color:#FB2E86 ;
    color:#FFFFFF ;
    border-radius: 2px;
    border: #FB2E86;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
#btncart:hover{
    background-color: #c5bfbf;
    color: #FB2E86;
}
.shopCart{
    display: flex;
    justify-content: center;
}