* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartMap{
    margin-top: 2rem;
}
.cartPricing {
  max-width: 600px;
}
.heading {
  display: flex;
  justify-content: center;
  position: relative;
}
#h3product{
position: absolute;
color: #1d3178;
transform: translateX(-400px);

}
#h3price{
    position: absolute;
    color: #1d3178;
    transform: translateX(-155px);

}
#h3quantity{
    position: absolute;
    color: #1d3178;
    transform: translateX(-20px);

}
#h3total{
    position: absolute;
    color: #1d3178;
    transform: translateX(110px);

}
/* .heading h3 {
  color: #1d3178;
  padding-left: 4rem;
} */
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.product {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.productdesc {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.productdesc h3 {
  font-size: 12px;
}
.productdesc b {
  color: #a1a8c1;
  font-weight: 400;
  font-size: 12px;
}
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
  padding: 0.2rem;
}
.quantity p {
  padding: 5px;
  color: #bebfc2;
  background-color: #f0eff2;
  font-size: 14px;
}
.quantity button {
  /* background-color: #F0EFF2; */
  /* border: #F0EFF2; */
  color: #bebfc2;
  cursor: pointer;
  padding: 5px;
}


@media only screen and (max-width:768px){
  .product{
    flex-direction: column;
  } 
}