* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartMap{
    margin-top: 2rem;
}
.cartPricing {
  max-width: 600px;
}
.heading {
  display: flex;
  justify-content: center;
  position: relative;
}
#h3product{
position: absolute;
color: #1d3178;
transform: translateX(-400px);

}
#h3price{
    position: absolute;
    color: #1d3178;
    transform: translateX(-155px);

}
#h3quantity{
    position: absolute;
    color: #1d3178;
    transform: translateX(-20px);

}
#h3total{
    position: absolute;
    color: #1d3178;
    transform: translateX(110px);
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.product {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.productdesc {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.productdesc h3 {
  font-size: 12px;
}
.productdesc b {
  color: #a1a8c1;
  font-weight: 400;
  font-size: 12px;
}
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
  padding: 0.2rem;
}
.quantity p {
  padding: 5px;
  color: #bebfc2;
  background-color: #f0eff2;
  font-size: 14px;
}
.quantity button {
  color: #bebfc2;
  cursor: pointer;
  padding: 5px;
}


@media only screen and (max-width:768px){
  .product{
    flex-direction: column;

  } 
  .cartPricing {
    max-width: 300px;
    padding: 1rem;
  }
  .cart{
gap: 1rem;
  }
  #h3quantity{
  font-size: 18px;
    transform: translateX(42px);
}
#h3product{
  font-size: 18px;
  transform: translateX(-100px); 
  }
  #h3price{
  font-size: 18px;
    transform: translateX(-25px);

}
#h3total{
  font-size: 18px;
}
}