* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cartTotal {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}
.cartTotal h3 {
  color: #1d3178;
  margin-bottom: 2rem;
  /* color: red; */
}
.subtotal {
  background-color: #f4f4fc;
  width: 300px;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  padding-left: 3px;
  margin: 10px;
  /* margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px; */
}
.checkbox input {
  visibility: hidden;
  cursor: pointer;
}
.mark {
  position: absolute;
  top: 0;
  left: 10px;
  height: 20px;
  width: 20px;
  border-radius: 40%;
  background-color: lightgray;
}
.checkbox:hover input ~ .mark {
  background-color: gray;
}
.checkbox input:checked ~ .mark {
  background-color: #19d16f;
}
.mark::after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .mark::after {
  display: block;
}
.checkbox .mark::after {
  left: 6px;
  top: 3px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.sbp,
.stp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding: 0.5rem 1rem;
}
.checkout {
  padding-bottom: 1rem;
}
/* .stp{
display: flex;
justify-content: space-between;
} */
.subtotal b {
  color: #1d3178;
}
.subtotal i {
  color: #8a91ab;
  font-size: 12px;
}
.subtotal button {
  color: #ffffff;
  background-color: #19d16f;
  border: none;
  cursor: pointer;
  padding: 0.5rem 3rem;
  margin-right: 2rem;
}
.subtotal button:hover {
  color: #19d16f;
  background-color: #8a91ab;
}
.shipping {
  background-color: #f4f4fc;
  width: 100%;
  padding: 1rem;
}
.shipping button {
  background-color: #fb2e86;
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  width: 50%;
  cursor: pointer;
  margin-left: 1rem;
}
.shipping button:hover {
  color: #fb2e86;
  background-color: #8a91ab;
}
.shipping form {
  display: flex;
  flex-direction: column;
  background-color: #f4f4fc;
}
#shippingCountry {
  border-bottom: 2px solid #c7cee4;
  padding: 1rem;
}
#shippingState {
  border-bottom: 2px solid #c7cee4;
  padding: 1rem;
}
#PostalCode {
  border-bottom: 2px solid #c7cee4;
  padding: 1rem;
  margin-bottom: 1rem;
}
