.heroSection {
  background-color: #f2f0ff;
  display: flex;
  align-items: center;
}
.cantilever {
  background-color: #f6f7fb;
  cursor: pointer;
}
.cantilever:hover {
  background-color: #f7f7f7;
}
.canP {
  color: #fb2e86;
  font-size: 14px;
  font-weight: 700;
}
.canSub {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.canSub:hover {
  background-color: #2f1ac4;
  color: #ffffff;
}
.ryrprb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.recyellow {
  color: #05e6b7;
  font-size: 5px;
  height: 5px;
  width: 15px;
  background-color: #05e6b7;
}
.recpink {
  color: #f701a8;
  font-size: 5px;
  height: 5px;
  width: 15px;
  background-color: #f701a8;
}
.recblue {
  color: #00009d;
  font-size: 5px;
  height: 5px;
  width: 15px;
  background-color: #00009d;
}

.homeMap {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  height: 230px;
  width: 200px;
  margin: 2rem;
}
.homediv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}