.heroSection {
  background-color: #f2f0ff;
  display: flex;
  align-items: center;
}
.cantilever {
  background-color: #f6f7fb;
  cursor: pointer;
}
.cantilever:hover {
  background-color: #f7f7f7;
}
.canP {
  color: #fb2e86;
  font-size: 14px;
  font-weight: 700;
}
.canSub {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.canSub:hover {
  background-color: #2f1ac4;
  color: #ffffff;
}
.homeMap {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  height: 230px;
  width: 200px;
  margin: 2rem;
}
.ryrprb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.recyellow {
  color: #05e6b7;
  font-size: 5px;
  height: 5px;
  width: 15px;
  background-color: #05e6b7;
}
.recpink {
  color: #f701a8;
  font-size: 5px;
  height: 5px;
  width: 15px;
  background-color: #f701a8;
}
.recblue {
  color: #00009d;
  font-size: 5px;
  height: 5px;
  width: 15px;
  background-color: #00009d;
}

.homeH2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #1a0b5b;
  font-size: 28px;
}
.homediv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/* LatestProduct */

.latestProduct {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.latestPics {
  min-width: 300px;
  background-color: #f7f7f7;
  padding: 2rem;
}
.TpD {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 2rem;
}
.latestTitle {
  color: #151875;
}
.latestPrice {
  color: #151875;
  padding-right: 0.5rem;
}
.LatestDiscount {
  color: #fb2448;
}
.LatPro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem;
  gap: 4rem;
}
.lph2 {
  color: #1a0b5b;
  font-size: 28px;
  margin-top: 1rem;
}
.latestPick {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #151875;
  font-weight: 500;
  cursor: pointer;
}
.latestPick p:hover {
  color: #fb4997;
  /* text-decoration: underline; */
  border-bottom: 1px solid #fb4997;
}

.productOff {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopNow {
  display: flex;
  flex-direction: column;
  background: #eeeffb;
  box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
  width: 300px;
}
.viewCollection {
  display: flex;
  flex-direction: column;
  background: #eeeffb;
  box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
  width: 300px;
}
