.descriptionWrapper{
    display: flex;
    justify-content: center;
    background-color: #F9F8FE;
    text-align: start;
    
}

.desNav{
    background-color: #F9F8FE;
    margin-left: -7rem;
}
.description{
    /* text-align: start; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    width: 67%;
    padding-bottom: 4rem;
}
.desLink{
    text-decoration: none;
    color: #151875;
    font-weight: 600;
}