* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  overflow-x: hidden;
}
.logo {
  margin-left: 8rem;
  cursor: pointer;
}
.navBarLower {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e5e5e5;
  padding: 0 2rem;
  margin: auto;
  height: 4rem;
  position: relative;
}
.active{
    color:#FB2E86;
    list-style-type: none;
  cursor: pointer;
  padding-bottom: 0.5rem;
}
ol {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  cursor: pointer;
}

.navLinks {
  list-style-type: none;
  color: #0d0e43;
text-decoration: none;
  padding-bottom: 0.5rem;
}
.active:hover::before{
    content: " ";
    width: 30px;
    height: 3px;
    background-color: #0d0e43;
    position: absolute;
    bottom: 15px;
    /* left: 20px; */
    transition: 0.3 all ease-in-out;

}
.navLinks:hover::before{
    content: " ";
    width: 30px;
    height: 3px;
    background-color: #FB2E86;
    position: absolute;
    bottom: 15px;
    /* left: 20px; */
    transition: 0.3 all ease-in-out;

    /* left: 20px; */
}
.navLinks:hover{
    color:#FB2E86;
}

.hamburger {
  display: none;
}
/* .open{
  display: block;
}
.close{
  display: block;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
} */
.logo {
  color: #0d0e43;
  font-size: 30px;
  font-weight: 600;
}
.formNav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputsearch {
  margin-left: auto;
  padding: 0.4rem;
}
#searchh{
  position: absolute;
  right: 0;
}
.btn {
  padding: 1rem;
  background-color: #fb2e86;
  border: #fb2e86;
}
.search {
  position: absolute;
  right: 13.7rem;
}

@media only screen and (max-width: 768px) {
  .hamburger{
    display: block;
    color: #fff;
    border: none;
    font-size: 40px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: -4rem;
  }
  .active{
    padding-bottom: 1rem;
  }
  .navLink {
    display: block;
    position: absolute;
    left: -500px;
    top: 15vh;
    z-index: 1000;
    height: 40vh;
    width: 50vw;
    transition: 0.9 all ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e5e5;
  padding-bottom: 1rem;

  }
  .logo {
    margin-left: -4rem;
  }
  .formNav {
   display: none; 
 }
  .navShow{
        display: block;
        flex-direction: column;
        justify-content: space-around;
        background-color: #e5e5e5;
        position: absolute;
        z-index: 2;
        top: 10vh;
        left: 0px;
        width: 100%;
        height: 50vh;
        text-align: center;
        padding: 30px;
        transition: 0.9s all ease-in-out; 
      
    }  
}
