*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navBarLower{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E5E5E5;
}
.navLink{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    color: #0D0E43;
    font-size: 30px;
    font-weight: 600;
}
.formNav{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.inputsearch{
padding: 0.4rem;
}
.btn{
padding: 1rem;
background-color: #FB2E86;
border: #FB2E86;

}
.search{
    position: absolute;
    right: 0;
}