* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  background-color: #eeeffb;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 3rem; */
  min-height: 18rem;
  padding-bottom: 3rem;
}
ul a {
  text-decoration: none;
}
ul a li {
  list-style: none;
  text-align: justify;
  font-size: 14px;
  color: #8a8fb9;
  line-height: 1.8rem;
  padding-left: 2rem;
}
.firstLink{
    padding-bottom: 1rem;
    font-weight: 600;
    color: #000000;
}
.firstThird{
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #000000;

    /* display: none; */
}
.footerLogo a {
  color: #000000;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  /* margin-bottom: 3rem; */
}
.footerLogo {
  color: #8a8fb9;
  text-align: justify;
  line-height: 1rem;
  margin-bottom: 3rem;
}
strong {
  color: #8a8fb9;
}
.footerLogo p {
  font-size: 14px;
}
 #footerinput{
padding: 0.3rem;
border: #8A8FB9;
/* display: none; */
} 
placeholder{
    color: #8A8FB9;

}
form{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
input[type='button']{
    background-color: #FB2E86;
    color: #EEEFFB;
    border: #FB2E86;
    padding: 0.3rem;

}

@media only screen and (max-width:768px) {
    footer{
flex-direction: column;
gap: 1rem;
}
ul a li{
        text-align: center;
    }
    .firstThird{
        padding-top: 1rem;
    }
    .footerLogo{
        text-align: center;
    }
    .footerLogo p{
        min-width: 280px;
    }
}