* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  background-color: #eeeffb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
ul a {
  text-decoration: none;
}
ul a li {
  list-style: none;
  text-align: justify;
  font-size: 14px;
  color: #8a8fb9;
  line-height: 1.8rem;
}
ul li:nth-child(1){
    /* display: none; */
    color: #000000;
}
.footerLogo a {
  color: #000000;
  text-decoration: none;
  font-size: 38px;
  line-height: 45px;
  /* margin-bottom: 3rem; */
}
.footerLogo {
  color: #8a8fb9;
  text-align: justify;
  line-height: 1rem;
  margin-bottom: 3rem;
}
strong {
  color: #8a8fb9;
}
.footerLogo p {
  font-size: 14px;
}
input[type='text']{
padding: 0.3rem;
border: #8A8FB9;
}
placeholder{
    color: #8A8FB9;

}
form{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
input[type='button']{
    background-color: #FB2E86;
    color: #EEEFFB;
    border: #FB2E86;
    padding: 0.4rem;

}