* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.productWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productDescription {
  background: #ffffff;
  box-shadow: 0px 0px 25px 10px #f6f4fd;
  border-radius: 2px;
  min-height: 20rem;
  min-width: 50%;
  margin: 4rem 0;
  display: flex;
/* align-items: center; */
  justify-content: center;
  padding: 0.5rem;
  gap: 1.5rem;
}
.starDiv{
    display: flex;
}
.bagTypes{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0.7rem;
}
.productText{
    line-height: 19.19px;
    text-align: start;
    
}
.productText h3{
color: #0D134E;
padding-bottom: 1rem;
padding-top: 3rem;
}
.productText #b1{
color: #151875;
}
.productText #s1{
color: #FB2E86;
font-weight: 500;
}
#bs{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.productText #p1{
    padding-top: 1rem;
color: #0D134E;
font-weight: 600;
}
.productText #p2{
    padding-top: 1rem;

color: #A9ACC6;
font-weight: 200;
font-size: 10px;
max-width: 300px;
text-align: start;
}
.productText #b2{
color: #151875;
}
.productText #b3{
color: #151875;
}
#imgb3{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 3rem;
    gap: 1rem;
}
.productText #b4{
color: #151875;
}
.productText #b1{
color: #151875;
}
.productText #p3{
    padding-top: 1rem;
color: #151875;
font-weight: 600;
/* display: none; */
}
.productText #p4{
    padding-top: 1rem;
color: #151875;
font-weight: 600;
}
#shareSM{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media only screen and (max-width:768px) {
    .productDescription{
        display: flex;
        flex-direction: column;
    }
}
