.shopgrid{
display: flex;
flex-direction: column;
width: 270px;
height: 280px;
flex-wrap: wrap;
}
/* .gridwrapper{
display: flex;
justify-content: space-around;
align-items: center;
} */
.pics{
background-color: #F6F7FB;
/* padding: 1rem; */
}
.pics:hover{
background-color: #EBF4F3;
cursor: pointer;
}
.yellow{
    background-color: #DE9034;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: #DE9034;
    font-size: 10px;
}
.pink{
    background-color: #EC42A2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: #EC42A2;
    font-size: 10px;

}
.picsTitle{
    padding-top: 8px;
    color: #151875;
    font-weight: 700;
}
.gridPrice{
    padding-top: 8px;
    color:#151875;
    font-weight: 600;
}
.priceDiscount{
    padding-top: 8px;
}
.gridDiscount{
    color: #FB2E86;
    font-weight: 600;
}
.blue{
    background-color: #8568FF;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color:#8568FF;
    font-size: 10px;
}
.ypb{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
