.relatedProduct{
    padding: 2rem;
}
.relatedProduct h3{
text-align: left;
padding-left: 7rem;
padding-bottom: 2rem;
}

.productPrice{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.productRating{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.clothRating{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.clothRating b{
    font-size: 12px;
    
}
.productPrice p{
    font-size: 14px;
    color: #151875;
    
}

@media only screen and (max-width:768px) {
    .productRating{
        /* display: flex; */
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        gap: 1rem;
    }
    .relatedProduct h3{
        padding-left: 3rem;
    }   
}